@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

:root {
    --lighter: #F2EFE5;
    --light: #D8D9DA;
    --main: #61677A;
    --dark: #272829;
}

body {
    background-color: var(--lighter);
    color: var(--main);;
    margin: 0;
}